/*ADICIONANDO A FONTE PERSONALIZADA */
@font-face { /*"Baixe e instale esta fonte" */
    font-family: 'Minecraft'; /*Nome que você inventa */
    src: url('../fonts/Minecraft.ttf') format('truetype'); /*Caminho do arquivo */
    font-weight: normal; /*Grossura da fonte */
    font-style: normal; /*Itálico ou normal */
}

/*CRIANDO A MENSAGEM ANIMADA */

.minecraft-alert{
    font-size: 35px;
    position: absolute;
    right: 20px;
    transform: rotate(30deg); /*Rotacionando o texto */
    color: #FFD700;
    padding: 40px 520px;
    z-index: 5;
    animation: alert-pulse 2s infinite; /* Nome, duração, repetição */
    font-family: 'Minecraft', sans-serif !important;
    text-shadow: 3px 3px 0 #000000; /*Sombra principal (offsetX, offsetY, blur, color) */
}

@keyframes alert-pulse{ /*"Crie uma animação personalizada" */
    0%, 100% {transform: rotate(30deg) scale(1);} /* Estado inicial e final */
    50% {transform: rotate(30deg) scale(1.05);} /* Pico da animação */
}

/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide{
    display: none !important;
}

#main-title{
    margin: 8px 5px 0; /*Margem: 5px de altura, 5px nas laterais e 0px de altura */
    padding: 40px 0px;
    text-align: center;
    color: #FFD700;
    background-color: #1d1811;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: 'Minecraft', sans-serif;
    text-shadow: 2px 2px 0 #000000; /*Sombra principal (offsetX, offsetY, blur, color) */
}

/* CONFIGURANDO A IMAGEM DE FUNDO */
body {
    background: url('introducao.gif') no-repeat center center fixed; /*Podemos linkar uma imagem direto pelo CSS */
    background-size: cover; /* Vai cobrir a tela inteira */
    color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /*Garante que o body tenha pelo menos 100% da altura da tela visível */
    height: auto; /*Permite que o conteúdo expanda além da tela se necessário */
    overflow-x: hidden; /*Esconde a barra de rolagem horizontal */
    position: relative; /*Prepara o terreno para elementos posicionados dentro */
}

/*Estamos aplicando uma cor levemente cinza para o fundo */
body::before{ /*Cria um elemento falso, que aparece antes do conteúdo, ele não existe de fato no HTML*/
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 0;
    pointer-events: none; /*Permite clicar nos elementos abaixo, nesse caso não permite */
}

#main-title, #quiz-container, #score-container{ /*Estamos dizendo que os elementos dos containers estão "superiores" ao plano de fundo */
    position: relative;
    z-index: 1;
}

/* CONFIGURANDO OS ICONES */

.icon-left, .icon-right{
    position: absolute;
    top: 22px;
    width: 70px;
    height: auto;
    z-index: 2;
}

.icon-left{
    left: 20px;
}

.icon-right{
    right: 20px;
}

/* SCORE CONTAINER */

#score-container{
    background-color: transparent;
    border: 2px solid #CECACA;
    border-radius: 15px;
    color: #FFF;
    text-align: center;
    width: 300px;
    margin: 50px auto; /* As margens automáticas centrailza automaticamente o espaço disponível no container */
    padding: 25px;
}

#score-container p{
    font-size: 14px;
    margin: 20px 0;
}

#score-container #display-score{
    font-size: 32px;
    font-weight: bold;
}

#corret-answer{
    font-weight: bold;
    color: #64c08f;
}

#questions-qty{
    font-weight: bold;
    color: #3da0f1;
}

#restart{
    background-color: #E78230;
    color: #FFF;
    font-weight: bold;
    height: 45px; /*Altura*/
    width: 110px; /*Largura*/
    border-radius: 20px; /*Borda dele*/
    border: 2px solid transparent;
    text-transform: uppercase; /*Tudo em capslock*/
    margin-top: 20px;
    cursor: pointer; /*Aparece a mãozinha do mouse quando estamos sobre ele*/
    transition:  .5s; /*Transição de meio segundo*/
}

/*Deixando o botão com aquele efeito legal quando estamos com o mouse em cima dele*/
#restart:hover{  /*O Hover estiliza quando o mouse está em cima */
    background-color: transparent;
    border-color: #E78230;
    color: #E78230;
}

/*QUIZ CONTAINER*/

#quiz-container{
    width: 500px;
    margin: 50px auto;
    border: 3px solid #CECACA;
    padding: 25px;
    border-radius: 25px;
}

#question{
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
}

#question-number{
    font-weight: bold;
}

#answer-box button{
    display: flex;
    align-items: center; /*Alinhando os elementos com base no display flex*/
    margin: 15px 0;
    width: 450px;
    height: 50px;
    border-radius: 20px;
    background-color: #CECACA;
    border: 2px solid transparent;
    text-align: left;
    padding-left: 5px;
    color: #000;
    cursor: pointer;
    transition: .5s;
}

#answer-box button:hover{
    background-color: #E78230;
    color: #FFF;
}

#answer-box .btn-letter{
    font-size: 30px;
    font-weight: bold;
    background-color: #E78230;
    color: #FFF;
    border-radius: 50%;
    line-height: 40px; /*Alinhando o texto pro centro do circulo*/
    text-align: center;
    text-transform: uppercase;
    flex: 1 1 0; /*Cresce e diminui de maneira igual*/
    max-width: 40px; /*Limitando a largura dele estamos transformando ele num circulo*/
}

.question-answer{
    flex: 1 1 0;
    padding-left: 10px;
    font-size: 16px;
}

#quiz-container .wrong-answer, /*Colocando o ID na frente estamos reforçando essa regra, eles prevalecem*/
#quiz-container .wrong-answer .btn-letter
{
    background-color: brown;
    color: #FFF;
}

#quiz-container .correct-answer,
#quiz-container .correct-answer .btn-letter
{
    background-color: #40B576;
    color: #FFF; 
}

/*ARRUMANDO PARA A PARTE MOBILE*/

@media(max-width: 1000px){ /*"Faça isso só em telas pequenas/grandes, aumentei para incluir tablets" */

    html{
        height: 100%;
        overflow-y: auto; /*Permite rolagem apenas quando necessário */
    }

    body{
        background-attachment: scroll; /*Corrige o bug do GIF "flutuante" em iOS */
        background-size: cover;
        background-position: top center; /* Garante que o GIF sempre comece do topo */
    }

    body::before{
        height: 100%;
    }

    #main-title{
        margin: 8px 10px 0; /*Margem: 5px de altura, 5px nas laterais e 0px de altura */
        text-align: center;
        font-size: 1.3rem;
        background-color: #1d1811;
    }

    .icon-left, .icon-right{
        position: absolute;
        top: 33px;
        width: 50px;
        height: auto;
        z-index: 2;
    }

    .icon-left{
        left: 25px;
    }
    
    .icon-right{
        right: 25px;
    }

    .minecraft-alert{
        top: 165px;
        font-size: 1.0rem;
        position: absolute;
        right: -30px;
        transform: rotate(30deg); /*Rotacionando o texto */
        color: #FFD700;
        padding: 10px 40px;
        z-index: 5;
        animation: alert-pulse 2s infinite;
        font-family: 'Minecraft', sans-serif !important;
        text-shadow: 3px 3px 0 #000000; /*Sombra principal (offsetX, offsetY, blur, color) */
    }

    #quiz-container{
        width: 100%;
        border: none;
    }

    #quiz-container p{
        border: 2px solid #CECACA;
        padding: 5px;
        border-radius: 10px;
    }

    #answer-box button{
        width: 100%;
    }

    #score-container{
        width: 90%;
    }
}
